@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
  background-color: black;
  color: #ffffff;
}

div.logo {
  height: 10em;
  postion: relative
}
div.logo p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 180px;
  line-height: 125px;
  background: -webkit-linear-gradient(#fc0900, #f6fe01, #18fb01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
}

div.link {
  height: 10em;
  postion: relative;
}
div.link a {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
  color: #f6fe01;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
}

div.container {
  height: 10em;
  postion: relative;
}
div.container p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #f6fe01;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
}
